$color-grey: #999999;

*::-webkit-input-placeholder{
  color: $color-grey;
  opacity: 1;
}
*:-moz-placeholder{
  color: $color-grey;
  opacity: 1;
}
*::-moz-placeholder{
  color: $color-grey;
  opacity: 1;
}
*:-ms-input-placeholder{
  color: $color-grey;
  opacity: 1;
}
::placeholder{color:$color-grey}

input[type="text"], .wrp-input__field {
  display: block;
  box-sizing: border-box;
  outline: none;
  padding: 0;
  height: 3.2rem;
  border: none;
  border-radius: 0;
  border-bottom: .2rem solid $color-border;
  transition: all .3s ease-in-out;
  width: 100%;
  background: #fff;
  appearance: none;
  font-size: inherit;
}

.wrp-field {
  display: block;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;

  > label {
    display: block;
    font-weight: 500;
    margin-bottom: 0;
  }

  &_disabled {
    pointer-events: none;
  }

  .wrp-input {
    position: relative;
    &__field {
      display: flex;
      align-items: center;
      cursor: pointer;

      @include md-block(){
        cursor: default;
      }
    }
  }

  &.is-danger {
    label {
      color: $color-red;
    }
    .wrp-input__field, input {
      border-bottom: .2rem solid $color-red;
    }
    i.rub {
      color: $color-red;
    }
    .checkbox-custom {
      border: .2rem solid $color-red;
    }
    .label {
      a {
        color: $color-red;
      }
    }
  }

  &__error {
    display: block;
    color: $color-red;
    font-size: 1rem;
    margin-top: .8rem;
  }

  &__success {
    display: block;
    font-size: 1rem;
    margin-top: .8rem;
  }

  &__icon {
    position: absolute;
    bottom: 1rem;
    right: 0;
    margin: auto;
    line-height: 0;

    &-rub {
      i.rub {
        font-size: 1.7rem;

        &:before {
          content: "5";
        }
      }
    }

    &.open {
      transform: rotate(180deg);
    }
  }
}

.search {
  &__input {
    input[type="text"] {
      border-left: .2rem solid $color-border;
      border-right: .2rem solid $color-border;
      padding-left: 2.7rem;
    }
  }
}
// checkbox
$size-border: .2rem;

.checkbox-wrap {
  display: flex;
  align-items: flex-start;
  .checkbox {
    display: none;
    &.is-danger {
      & + .checkbox-custom {
        border: $size-border solid $color-red;
      }
    }
    &:checked {
      & + .checkbox-custom {
        border: $size-border solid $color-text;
        &:before {
          opacity: 1;
        }
      }
    }
  }
  .checkbox-custom {
    width: 1.2rem;
    height: 1.2rem;
    border: $size-border solid $color-text;
    position: relative;
    flex-shrink: 0;
    transition: border .2s ease-in-out;
    cursor: pointer;
    margin-right: 1rem;
    @include md-block() {
      cursor: default;
    }
    &:hover {
      border: $size-border solid darken($color-text, 30%);
    }
    &:before {
      opacity: 0;
      content: "";
      display: block;
      position: absolute;
      top: -.3rem;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: .4rem;
      width: .6rem;
      border-left: .2rem solid $color-text;
      border-bottom: .2rem solid $color-text;
      transform: rotate(-45deg);
      transition: opacity .2s ease-in-out;
    }
  }
  .label {
    font-size: 1.2rem;
    line-height: 1.3;
    a {
      color: $color-link;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }
}