.registartion {
  padding: 3rem 1.5rem 6rem;
  &__title {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
  }
  &__subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
}