$color-border-scan: #777777;
$color-border-angel: #E04B24;

.scan-qr {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .1rem solid $color-border-scan;
  width: 20rem;
  height: 20rem;
  margin: 3.5rem auto 5rem;
  box-sizing: border-box;
  position: relative;
  &-wrap {
    position: relative;
  }
  &__angles {
    &-left, &-right {
      position: absolute;
      top: -.2rem;
      bottom: -.2rem;

      &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
      }
    }
    &-left {
      left: -.2rem;

      &:before {
        left: 0;
        top: 0;
        border-left: .3rem solid $color-border-angel;
        border-top: .3rem solid $color-border-angel;
      }

      &:after {
        left: 0;
        bottom: 0;
        border-left: .3rem solid $color-border-angel;
        border-bottom: .3rem solid $color-border-angel;
      }
    }
    &-right {
      right: -.2rem;

      &:before {
        right: 0;
        top: 0;
        border-right: .3rem solid $color-border-angel;
        border-top: .3rem solid $color-border-angel;
      }

      &:after {
        right: 0;
        bottom: 0;
        border-right: .3rem solid $color-border-angel;
        border-bottom: .3rem solid $color-border-angel;
      }
    }
  }
  &__start {
    text-align: center;
    &-text {
      display: block;
      font-size: 1.2rem;
      margin-top: .4rem;
    }
  }
  &__refresh {
    text-align: center;
    padding-top: 3rem;
    p {
      display: block;
      font-size: 1.2rem;
    }
    &-img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;
      width: 6rem;
      height: 6rem;
      border-radius: .5rem;
      border: .1rem solid $color-border-scan;
    }
  }
  &__code {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .loading-indicator {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
    }
    &-scanned {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: fade-out($color-text, .5);
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: 1.2rem;
        font-weight: 500;
        color: $color-white;
        text-align: center;
      }
      .icon-scanned-check {
        margin-bottom: 1.5rem;
        position: relative;
        height: 5.4rem;
        width: 6.8rem;
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          height: 2.4rem;
          width: 5.6rem;
          border-left: 1.1rem solid $color-white;
          border-bottom: 1.1rem solid$color-white;
          transform: rotate(-45deg);
          transition: opacity .2s ease-in-out;
        }
      }
    }
  }
  &-hidden {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
  &__reload {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3rem;
    p {
      display: inline-block;
      position: relative;
      padding-left: 2.2rem;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-image: url('/images/svg/icon-reload.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 1.6rem;
        height: 1.4rem;
      }
    }
  }
  &__time {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4rem;
    p {
      display: inline-block;
      position: relative;
      padding-left: 2.2rem;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}