$color-bg-footer: #ECEFF1;

.footer {
  padding: 2.5rem 1.5rem;
  background-color: $color-bg-footer;
  font-size: 1.2rem;

  &__name {
    display: block;
    font-weight: 600;
    margin-bottom: 1.3rem;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
  }

  &__docs {
    a {
      display: block;
      color: #7A99AC;
      text-decoration: underline;
      margin-top: 1.5rem;

      &:hover {
        text-decoration: none;

        @include md-block(){
          text-decoration: underline;
        }
      }
    }
  }
}